<!DOCTYPE html>
<html>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            text-align: center;
            height: 100%;
        }
        img {
            display:block;
            margin: 0 auto;
        }
        #mapid {height:30vh}
    </style>
       <script>
        function initMap() {
            console.log('run');
            var mymap = L.map('mapid', {zoomControl:false} ).setView([45, 0], 0);
            L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            }).addTo(mymap);

            mymap.dragging.disable();
            mymap.touchZoom.disable();
            mymap.doubleClickZoom.disable();
            mymap.scrollWheelZoom.disable();

            var pointA = new L.LatLng(14, -1);
            var pointB = new L.LatLng(0, 77.70641);
            var pointList = [pointA, pointB];

            var markerA = L.marker(pointA).addTo(mymap);
            var markerB = L.marker(pointB).addTo(mymap);

            var firstpolyline = new L.Polyline(pointList, {
                color: 'red',
                weight: 1,
                opacity: 0.5,
                smoothFactor: 0
            });
            firstpolyline.addTo(mymap);
        }

        function init() {
            /*
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function(e) {
                if (this.readyState === 4) {
                    console.log(JSON.parse(this.responseText));
                    updateBlocks(JSON.parse(this.responseText));
                }
            }
            xhr.open("GET", "http://localhost:9999/new_blocks");
            xhr.send();
            */
            initMap();
        }
    </script>
    <body>
    <h1>Asset Tracker</h1>
    <!--
    ID: ${id}
    ${body.name} <br>
    -->
    <!--
    <img src="https://cdn4.iconfinder.com/data/icons/logistic-delivery-solid-icons-vol-3/72/104-512.png" width="200">
    -->
    <div id="mapid"></div>

    <ul>
        <li id="description"></li>
        <li id="status"></li>
        <li id="location_name"></li>
        <li id="location_coords"></li>
    </ul>

    <!--
    <ul>
        <li> ${body.description}
        <li> ${body.status}
        <li> ${body.location.name}
        <li> ${body.location.coordinates}`

    body.history.map((item) => {
        obj = obj + `<li> ${item}`
    });

    obj = obj +
    `    
    -->

    </body onload="init()">
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin="">
    </script>
 
    
    </html>`