body {
  background-color: black;
}

.plague{
  font-size: 30px;
  font-weight: bolder;
}

circle {
  stroke: rgb(167, 176, 182);
  stroke-width: 1;
  fill: rgba(165, 186, 190, 0.3);
}

rect {
    /* stroke: rgb(167, 176, 182); */
    stroke-width: 1;
}
